.social-contact {
    display: flex;
    justify-content: center;
    align-items: center;

}

.social-contact-div{
    padding: 6px;
    cursor: pointer;
    margin: 6px;
}

.social-icon{
    height: 48px;
}


@media only screen and (max-width: 720px) { 
    .social-icon{
        height: 38px;
    }
}